.header {
  background-image: url('https://images.pexels.com/photos/1267360/pexels-photo-1267360.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-position: center;
  background-size: cover;

}

.header-navbar {
  padding: 0;
  display: grid;
  grid-template-columns: 300px 900px 200px;
  justify-content: center;
  justify-items: center;
  align-items: center;

}

.navbar-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
}

.navbar-link {
  text-decoration: none;
  font-size: 25px;
  font-family: "Potta One";
  text-align: center;
  color:rgb(248, 249, 250);
  text-shadow: 0px 0px 9px rgb(10, 10, 10);
}

.navbar-link:hover{
  color:rgb(149, 211, 4);
  text-shadow:0px 0px 19px rgb(2, 102, 2); ;
}

.navbar-link .navbar-subnenu :hover {
  display: block;
}

