
.footer-container {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 50px;
    align-items:center;
}

.footer-brand {
    width: 400px;
    height: 300px;
    display: flex;
    align-items: center;
}

.brand-img {
    max-width: 150%;
}

.footer-paragraph{
    text-align: center;
    font-weight: 200;
    font-family: "Potta One";
}

.list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.item-link{
    font-size: 40px;   
    color: black;
}

.item-paragraph{
    font-size: 16px;
    font-family:"Potta One";
    color: black;

}
